
@font-face {
  font-family: Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: SemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
.form-main {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #a38430;
  box-shadow:-5px -5px 5px #b4943a;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .form-main {
    transform: scale(0.7);
  }
}
@media (max-width: 1000px) {
  .form-main {
    transform: scale(0.6);
  }
}
@media (max-width: 800px) {
  .form-main {
    transform: scale(0.5);
  }
}
@media (max-width: 600px) {
  .form-main {
    transform: scale(0.4);
  }
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: #0d3151;
  transition: 1.25s;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.title {
  font-family: Bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 3;
  color: #fff;
}
/**/
.a-container {
  z-index: 100;
  left: calc(100% - 600px);
}
.b-container {
  left: calc(100% - 600px);
  z-index: 0;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #0d3151;
  overflow: hidden;
  box-shadow: 4px 4px 10px #a38430, -4px -4px 10px #a38430;
}
.switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #a38430;
  box-shadow: inset 8px 8px 12px #a38430, inset -8px -8px 12px #a38430;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}
.switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}
.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}
.switch__button {
  cursor: pointer;
}
.switch__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.25s;
}
.switch__button:active, .switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}
/**/
.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}
.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}
.is-z200 {
  z-index: 200;
  transition: 1.25s;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}
.is-gx {
  animation: is-gx 1.25s;
}
@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px;
  }
  30%, 50% {
    width: 500px;
  }
}
