@font-face {
    font-family: Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

:root {
    --bs-body-font-size: 1rem;
    --bs-blue: #0d3151;
    --bs-red: #c42f27;
    --bs-green: #628d3d;
    --bs-gray: #e6e5e5;
    --bs-gray-dark: #343a40;
    --bs-gold: #a38430;
    --bs-primary: #0d3151;
    --bs-secondary: #a38430;
    --bs-success: #628d3d;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #c42f27;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

.nav li {
    text-transform: uppercase;
    font-family: Bold !important;
    padding: 0px 20px;
}
.navbar{
    padding: 0px 40px; 
}
.auth-btn{
    padding: 10px 26px !important;
    border-radius: 5rem !important;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Bold !important;
    font-size: 16px;
}
.submit-btn{
    padding: 6px 40px !important;
    border-radius: 5rem !important;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Bold !important;
    font-size: 16px;
}
.switch-btn{
    border-radius: 5rem !important;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Bold !important;
    font-size: 12px;
  --bs-btn-hover-border-color: #fff;
}

header{
    background-color: var(--bs-gray);
}

.login-card{
    background-color: var(--bs-blue);
    max-width: 30%;
    margin-top: 10%;
}

.form-control::placeholder {
    color: var(--bs-blue);
    opacity: 1;
    letter-spacing: 1.5px;
    font-family: Regular;
    font-size: 16px;
}

.form-control:focus {
    color: var(--bs-blue);
    background-color: #f8fafc;
    border-color: var(--bs-gold);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(163,132,48, 0.8);
}

.form-control-sm {
    /*min-height: calc(1.8em + 0.8rem + 3px);*/
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 30px;
    max-width: 80%;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 1px 0px inset;
}

.form-control-lg {
    min-height: calc(3.6em + 4rem + 4px);
    padding: 0.5rem 1rem 6rem;
    font-size: 0.7875rem;
    border-radius: .25rem;
}

.btn-primary-link {
    --bs-btn-font-weight: 400;
    --bs-btn-color: var(--bs-gold);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-gold);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-gold);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    font-family: SemiBold;
    font-size: 14px;
}

.btn-primary-link:focus-visible {
    color: var(--bs-gold);
}

.btn-primary-link:hover {
color: var(--bs-light);
}

.register-text{
color: var(--bs-light);
font-family: Regular;
font-size: 14px;
}

.header{
    background-color: var(--bs-gold);
    width: 30%;
    border-radius: 1.5em;
    margin-left: 35%;
    margin-top: -5%;
}

.login-heading{
    color: #fff;
    font-size: 20px;
    font-family: Bold !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input-group-text{
    background-color: var(--bs-light);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.password-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    font-size: 0.7875rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25em;
    max-width: 52%;
}

.password-control-2{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    font-size: 16px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 70%; 
    padding: 12px 15px;
}

.welcome-section{
    background-image: url("../images/home/BACKGROUND-2.jpg");
    min-height: 100vh;
}

.sidebar{
  background-image: url("../images/home/BACKGROUND-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-section{
  min-height: 100vh;
}

.social-media-anchor{
    color: var(--bs-light);
    border: 2px solid var(--bs-light);
    border-radius: 2rem;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.social-media-anchor-two{
    color: var(--bs-blue);
    border: 2px solid var(--bs-blue);
    border-radius: 2rem;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.social-div{
    margin-top: 3rem !important;
    margin-left: 3rem !important;
    margin-bottom: 3rem !important;
}

.social-div-two{
  margin-top: 3rem !important;
  margin-left: 3rem !important;
}

.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-div{
    margin-left: 3rem; 
    margin-top: 10rem; 
}

.welcome-heading{
    color: var(--bs-light);
    font-family: Bold;
    font-size: 52px;    
    text-transform: uppercase;
}

.welcome-text{
    color: var(--bs-light);
    font-family: Bold;
    font-size: 25px;    
    text-transform: uppercase;
}

.welcome-text-two{
    color: var(--bs-gold);
    font-family: Regular;
    font-size: 25px;
}

.about-user-form{
    width: 85%;
    margin-left: 3rem;
    margin-bottom: 30px;
}

.about-user-input{
    min-width: 100%;
}

.safari-btn{
    border-radius: 5rem !important;
    padding: 15px 26px !important;
    text-transform: uppercase;
    font-family: Bold !important;
    font-size: 16px;
    --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
    --duration: 0.44s;
    --move-hover: -4px;
    line-height: 12px;
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}

.about-user-heading{
  font-family: Bold;
  font-size: 43px;
  color: var(--bs-blue);
}

.about-user-sub-heading{
  font-family: SemiBold;
  font-size: 20px;
  color: var(--bs-gold);
}

.bi-info-circle{
  font-family: Regular;
  font-size: 43px;
  color: var(--bs-gold);
}

.footer{
    background-color: var(--bs-gray);
    position: relative;
}

.footer-text{
  font-family: Regular;
  font-size: 16px;
  color: var(--bs-blue);
  line-height: .4;
}

.footer-text a{
  text-decoration: none !important;
}

.about-user-heading, .about-user-sub-heading {
  line-height: 1;
}

.form-div {
    margin-bottom: 10rem !important;
}

.member-heading{
    font-family: Bold;
    font-size: 14px;
    color: var(--bs-blue);
    line-height: .5;
}

.member-sub-heading{
    font-family: SemiBold;
    font-size: 10px;
    color: var(--bs-gold);
    line-height: .5;
}

.wizard-fieldset {
    display: none;
}

.wizard-fieldset.show {
    display: block;
}

.fieldset-one{
    margin-bottom: 8rem !important;
}

.fieldset-two{
    margin-bottom: 4rem !important;
}

.fieldset-three, .fieldset-four{
    margin-bottom: 14rem !important;
}

.safari-card{
    border-radius: 0 !important;
}

.safari-card-title{
    font-family: Bold;
    font-size: 16px;
    color: var(--bs-blue);
    text-transform: uppercase;
    line-height: 2;
}

.safari-card-text{ 
    font-family: Regular;
    font-size: 12px;
    color: var(--bs-gold);
    text-transform: uppercase;
    line-height: .1;
}

.contact-info-sub-heading{
    font-family: Bold;
    font-size: 20px;
    color: var(--bs-blue);
    text-transform: uppercase;
}

.contact-info-text{
    font-family: Bold;
    font-size: 16px;
    color: #5d6989;
    text-transform: uppercase;
    line-height: .2;    
}

.contact-info-text-two{
    font-family: Regular;
    font-size: 16px;
    color: #5d6989;
    line-height: .2;   
}

.contact-info-text-two a{
    text-decoration: none;
    color: #5d6989;
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #5d6989;
    background: #5d6989;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: var(--bs-light);
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    color: var(--bs-light);
    transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: var(--bs-light);
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.overview-text{
    font-family: Regular;
    font-size: 16px;
    color: #0d3151;
}

.travel-documents-card {
    border-radius: 1rem !important;
    background-color: #fff;
    min-height: 85%;
    display: flex;
}  

.download-span{
    font-family: Regular;
    font-size: 12px;
    color: var(--bs-gold);
    text-transform: uppercase;
}

.travel-documents-anchor{
    text-decoration: none;
}

.btn-small-font{
    font-size: 14px;
    padding: 6px 26px !important;
    margin-right: 0px;
}
.center-align{
    text-align: -webkit-center;
}
.account-heading{
    text-align: center;
    line-height: 1.5;
    margin-top: 15px;
    padding: 0px 20px;
}
.icon-peaking{
    margin-top: -55px;
}
.margin-extended{
    margin-top: 80px;
}
.align-end{
    text-align: end;
}

#sidebarMenu{
    font-family: Montserrat;
}

#sidebar{
    display: flex;
    justify-content: flex-end;
    padding: 0px 110px 0px 0px;
    transition: 1s ease;
}
.sider-bar-profile-block-img{
    width: 70px;
    border: 2px solid #a38430;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sider-bar-profile-img{
    width: inherit;
}

.profile-div-words{
    color: #fff;
}

.profile-links{
    color: #fff;
}

.profile-links-block{
    display: flex;
}

.profile-links{
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 10px 0px 0px;
}
.profile-links-block{
    color: #fff;
}

.padding-list{
    padding: 16px 0px;
}
.sidebar-menu{
    color: #fff;
}

.sider-bar-profile-block-words{
    padding-left: 15px;
}

.menu-heading{
    padding-top: 5px;
    font-size: 14px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: 270px;
}
.menu-padding{
    padding-left: 5px;
}
.menu-sub-heading-gold{
    font-size: 10px;
    color: #a38430;
    text-transform: uppercase;
    font-weight: 600;
}

.img-abs-icon{
    position: absolute;
    right: -80px;

}
.display-flex{
    display: flex;
    align-items: center;
}
.display-end{
    display: flex;
    justify-content: flex-end;
}

.sub-menu-padding{
    padding-left: 45px!important;
    padding-top: 8px;
}

.vertical-line{
    position: absolute;
    height: 100vh;
    width: 1px;
    border: 1px solid #ffffff5c;
    right: 53.5%;
}

.sub-icon-pad{
    padding-right: 10px;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  display: flex;
  justify-content: flex-start;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

/*----------------show sidebar button----------------*/
#show-sidebar {
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.header-menu{
    padding: 20px 0px;
    margin-bottom: 60px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  color: #fff;
  width: 100%;
  text-decoration: none;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /*content: "\f105";*/
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 45px;
  font-size: 13px;
}
/*
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
*/
.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}
